<div class="layout-container">
    <header class="layout-header">
        <h1 class="header-title">Sistema de Planilla</h1>
    </header>
    <aside class="layout-sidebar">
        <p-panelMenu [model]="[
            {label: 'Inicio', icon: 'pi pi-home'},
            {label: 'Empleados', icon: 'pi pi-users'},
            {label: 'Planillas', icon: 'pi pi-briefcase'},
            {label: 'Reportes', icon: 'pi pi-chart-bar'}
        ]"></p-panelMenu>
    </aside>
    <main class="layout-content">
        <router-outlet></router-outlet>
    </main>
</div>